<% content_for :class_name, 'transparent' %>

<div class="banner">
  <div id="banner-info" class="container">
    <h1>Welcome to Meerkatnb</h1>
    <p>The perfect platform to find a Meerkat to help you solve your problems</p>
    <a class="btn btn-transparent" href="#">Search available Meerkats!</a>
  </div>
</div>

<div class="cards mb-5">
  <% @meerkats.each do |meerkat| %>
      <%= link_to meerkat_path(meerkat) do %>
      <div class="card">
        <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= photo_or_fallback(meerkat) %>)">
        </div>
        <%= meerkat.name %>
      </div>
    <% end %>
  <% end %>
