<div class="banner">
  <div id="banner-info" class="container">
    <h1>Welcome to Meerkatnb</h1>
    <p>The perfect platform to find a Meerkat to help you solve your problems</p>
    <a class="btn btn-transparent" href="#">Search available Meerkats!</a>
  </div>
</div>
