.navbar-lewagon {
  justify-content: space-between;
  align-items: center;
  padding: 0;
  background: white;

  &.transparent {
    color: white;
    background-color: transparent;

    a {
      color: white;
      &:hover {
        opacity: 0.5;
      }
    }
  }
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}
