.navbar-lewagon {
  justify-content: space-between;
  align-items: center;
  padding: 0;
  background-color: transparent;
  z-index: 100;

  a {
    color: $dark-gray;
    &:hover {
        opacity: 0.5;
      }
  }

  &.transparent {
    color: white;
    background-color: transparent;

    a {
      color: white;
      &:hover {
        opacity: 0.5;
      }
    }
  }

  &.transparent .dropdown-menu {
    background-color: rgba(255,255,255,0.2);
  }
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.dropdown-menu {
  background-color: rgba(255,255,255,0.7);
  border: none;
  margin-top: 10px;
  padding: 15px 10px;
  border-radius: 0px;
  a {
    font-family: 'Open Sans', sans-serif;
    font-weight: lighter;
    &:hover {
      background-color: transparent;
    }
  }
}
